<template name="customize">  
	<div class="container-fluid" id="customize">
	
		<a href="/customize" class="btn btn-primary-outline btn-sm">
			<i class="fa fa-chevron-left fa-2x"></i>
		</a>
		<h1>Customize</h1>

		{{ #if categories }}
			<ul class="list-group">
			{{ #each categories }}
				<li class="list-group-item">{{ category }}</li>
			{{ /each }}
			</ul>
		{{ else }}
			<p>No Categories!</p>
		{{ /if }}

		<a href="/quiz" class="btn btn-primary-outline">Start Quiz</a>
	</div>

</template>