<template name="quiz">
	<section class="container-fluid" id="quiz">
			
		<ul class="list-group">
		{{ #if randomMode }}

			{{ #if randomQuestions }}
				{{ #each randomQuestions }}
					<li class="list-group-item" data-index="{{@index}}">
						<a href="/question/{{_id}}">{{ question }}</a>
					</li>
				{{ /each }}
			{{ /if }}

		{{ else }}

			{{ #if questions }}
				{{ #each questions }}
					<li class="list-group-item" data-index="{{@index}}">
						<a href="/question/{{_id}}">{{ question }}</a>
					</li>
				{{ /each }}
			{{ /if }}
			
		{{ /if }}
		</ul>

	</section>
</template>