/* styles for rating bar */

.icon {

/*	fill: black;*/
	width: 44px;
	height: 44px;
}

.ratebar__wrapper {
	/*float: right;*/
	/*font-size: .5em;*/
	/*margin: auto 0;*/
	text-align: center;
}

.ratebar__votebox {

}

.ratebar__votebox span {
	font-size: 12px;
	color: #777;
	display: block;
}

.ratebar__counter {
	margin-left: 10px;
	font-size: 12px;
	color: #777;
}

.icon-github {
	width: 44px;
	height: 44px;
	fill: aliceblue;
	margin-top: 1em;
}
.icon-github:hover {
	fill: #F08C35;
}

.icon-heart {
	padding: 4px 0;
}

.icon-heart-full {
	fill: red;
}

.icon-increase, .icon-decrease {
	height: 32px;
	width: 32px;
}
