#ratebar {
/* styles for rating bar */

	.icon {

	/*	color: black;*/
		width: 44px;
		height: 44px;
	}

	.ratebar__wrapper {
		/*float: right;*/
		/*font-size: .5em;*/
		/*margin: auto 0;*/
		text-align: center;
	}

	.ratebar__votebox {

	}

	.hearts {
		font-size: 32px;
	}
	.ratebar__votebox span {
		font-size: 12px;
		color: #777;
		display: block;
	}

	.ratebar__counter {
		margin-left: 10px;
		font-size: 12px;
		color: #777;
	}

	.icon-heart-full {
		color: red;
	}

}